
.header{
  padding: var(--space-xxs);
  height: 7%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-item{
  display: flex;
  gap: var(--space-sm);;
  align-items: center;
}

.header-item h5{
  color: var(--color-black);
  font-size: var(--text-h5);
  font-weight: var(--font-weight-semibold);
}

.menu{
  width: var(--space-3xl);
  height: var(--space-lg);
  border-radius: 5px;
  background-image: url("../../assets/hamburger_menu_icon.png");
  background-repeat: no-repeat;
  background-size: var(--space-md) var(--space-sm);
  background-position: center;
  cursor: pointer;
}

.menu:hover{
  background-color: var(--color-primary-dark);
}
