

:root{
  /* Colors */
  --color-primary: #00897B;
  --color-primary-light: #e6f3f2;
  --color-primary-dark: #005F56;

  --color-secondary: #FF7043;
  --color-secondary-light: #FFCCBC;
  --color-secondary-dark: #BF360C;

  --color-grey: #F5F7FA;
  --color-black: #222222;
  --color-white: #ffff;

  --color-warn: #D32F2F;
  --color-error: #D32F2F;

  /* FONT SIZE */
  --text-xs: 1.0rem;
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-h5: 2.0rem;
  --text-h4: 2.4rem;
  --text-h3: 2.8rem;
  --text-h2: 3.2rem;
  --text-h1: 3.6rem;

  /* FONT-WEIGHT */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* SPACING SCALE (1.25 ratio) */
  --space-xxs: 1.0rem;
  --space-xs: 1.5rem;
  --space-sm: 2.0rem;
  --space-md: 2.5rem;
  --space-lg: 3.0rem;
  --space-xl: 3.5rem;
  --space-2xl: 4.0rem;
  --space-3xl: 4.5rem;
  --space-4xl: 5.0rem;
  --space-5xl: 5.5rem;
  --space-6xl: 6.0rem;
}

#root{
  height: 100vh;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;  /* 1rem = 10px */
}

body{
  color: var(--color-black);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  font-family: "Roboto", sans-serif;
}

h1{
  font-size: var(--text-h1);
  font-weight: var(--font-weight-bold);
}

h2{
  font-size: var(--text-h2);
  font-weight: var(--font-weight-semibold);
}

h3{
  font-size: var(--text-h3);
  font-weight: var(--font-weight-semibold);
}

h4{
  font-size: var(--text-h4);
  font-weight: var(--font-weight-semibold);
}

h5{
  font-size: var(--text-h5);
  font-weight: var(--font-weight-semibold);
}

a{
  color: var(--color-black);
}

.btn{
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
}




/* 24rem = 384px */
@media (min-width: 24rem) {
  html {
    font-size: 40%; /* 1rem = 6.4px */
  }
  /* .sidebar-nav{
    gap: var(--space-xl);
  }

  .body-container{
    grid-template-columns: 0.5fr 1fr;
    column-gap: var(--space-xl);
  } */
}


/* 45.5rem = 728px */
@media (min-width: 45.5rem) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}


@media (min-width: 62.5rem /* 62.5 x 16px = 1000px */) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

@media (min-width: 75rem /* 1200px */) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}

@media (min-width: 90rem /* 1520px */) {
  html {
    font-size: 75%; /* 1rem = 12px */
  }
}
